openapi: 3.2.0
info:
  title: RevContent Access API
  description: OAuth 2.0 token issuance and account reactivation.
  version: '1.0'
  contact:
    name: RevContent Support
    url: https://www.revcontent.com/resources/contact-us
    email: developer@revcontent.com
servers:
- url: https://api.revcontent.io
  description: RevContent Production API
security:
- BearerAuth: []
tags:
- name: Access
  description: OAuth 2.0 token issuance and account reactivation.
paths:
  /oauth/token:
    post:
      operationId: getOauthAccess
      summary: Get access token
      description: To get access, please get in touch with your representative.
      tags:
      - Access
      x-permission:
      - Advertiser Publisher
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  description: '"client_credentials"'
                client_id:
                  type: string
                  description: Client's users id
                client_secret:
                  type: string
                  maxLength: 40
                  description: Client's secret id
              required:
              - grant_type
              - client_id
              - client_secret
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: User unique access token
                  expires_in:
                    type: number
                    description: Number of seconds left in the lifetime of the access token
                    default: 86400
                  type:
                    type: string
                    description: '"Bearer"'
                  scope:
                    type: string
                    description: Defines the authorization granted to the client
                required:
                - access_token
                - expires_in
                - type
                - scope
              example:
                access_token: 20b9c0a27315af753c2006dfcf6065ffdcae7fe2
                expires_in: 86400
                token_type: Bearer
                scope: advertiser publisher
        '400':
          description: Error 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_client
                error_description: The client credentials are invalid
        '401':
          description: Missing or invalid access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
      - lang: json
        label: Get access token
        source: "curl -X POST \\\n     -H \"Content-Type: application/x-www-form-urlencoded\" \\\n     -H \"Cache-Control: no-cache\" \\\n     -d 'grant_type=client_credentials&client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>'\n     'https://api.revcontent.io/oauth/token'"
  /stats/api/v1.0/account/reactivate:
    get:
      operationId: getReactivateAccount
      summary: Reactivate Account
      description: Send out email activation for inactive accounts
      tags:
      - Access
      x-permission:
      - Advertiser Publisher
      parameters:
      - name: email
        in: query
        required: false
        description: URL Encoded account email address. Must match the account email address.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 'true'
                required:
                - success
              example:
                success: true
        '400':
          description: Error-Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                errors:
                - code: 400
                  title: Invalid Email
                  detail: Invalid Parameters sent
        '401':
          description: Missing or invalid access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
      - lang: json
        label: Send Re-activation email
        source: "curl -X GET \\\n     -H \"Authorization: Bearer e62a04f681ba57d0120f8f584b688e31f04cf41d\" \\\n     -H \"Content-Type: application/json\" \\\n     -H \"Cache-Control: no-cache\" \\\n     'https://api.revcontent.io/stats/api/v1.0/account/reactivate?email=email%2Bencoded@provider.com'"
components:
  schemas:
    Error:
      type: object
      description: RevContent error envelope.
      properties:
        success:
          type: boolean
          const: false
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: integer
                description: HTTP-aligned error code.
              title:
                type: string
                description: Short error title.
              detail:
                type: string
                description: Human readable error detail.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 client-credentials access token obtained from POST /oauth/token. Valid for 24 hours.
x-source: https://api.revcontent.io/docs/stats/api_data.json
x-source-format: apiDoc 0.17.7
x-generated: '2026-08-13'
x-method: derived
